*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header,
nav,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f0f0f0;
}

h1,
h2 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: black;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

label {
    width: 100px;
}

input,
button {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

/* Add media queries for responsive design based on your needs */

@media (max-width: 768px) {
    /* Adjust styles for smaller screens here */
}



table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  th {
    text-align: left;
    font-weight: bold;
  }
  
  td img {
    width: 50px;
    height: auto;
  }
  
  /* Add media queries for responsive design based on your needs */
  
  @media (max-width: 768px) {
    /* Adjust styles for smaller screens here */
    table {
      font-size: 0.8rem;
    }
  }
  