* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
   
    
}
.container{
    min-width:600px;
    height: 600px;
    background-image: url(../image/p1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex: row;
    align-items: center;
    justify-content: center;
}
.register-container {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.register-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="tel"],
.register-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.register-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.register-container .message {
    text-align: center;
    color: red;
}